// SiPEED's Tang Nano 1k
// Physical Contrain File for GoWin toolchain
// https://tangnano.sipeed.com/en/
// April 24, 2022

IO_LOC  "clk_24mhz"  35;
IO_PORT "clk_24mhz"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// Both buttons connect to pins
IO_LOC  "button_a"   15;
IO_PORT "button_a"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "BUTTON_B"   14;
// IO_PORT "BUTTON_B"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// CH552T UART pins are Dual-Purpose Pins, DONE and RECONFIG_N
IO_LOC  "uart_tx"    8;
IO_PORT "uart_tx"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC  "uart_rx"    9;
IO_PORT "uart_rx"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// IO_LOC  "LED_G"      16;
// IO_PORT "LED_G"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_B"      17; // ALSO GCLKT_5
// IO_PORT "LED_B"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LED_R"      18; // ALSO GCLKC_5
// IO_PORT "LED_R"      IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// Psram pins can be used for other functions as long as PSRAM_CE is low
// IO_LOC  "PSRAM_SCLK" 20; // ALSO GCLKC_4
// IO_PORT "PSRAM_SCLK" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PSRAM_SIO1" 23;
// IO_PORT "PSRAM_SIO1" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PSRAM_SIO2" 24;
// IO_PORT "PSRAM_SIO2" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PSRAM_SIO3" 21;
// IO_PORT "PSRAM_SIO3" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "PSRAM_CE"   19;
// IO_PORT "PSRAM_CE"   IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// following Tang Nano Pinout, top-left
// IO_LOC  "LCD_G3"     38;
// IO_PORT "LCD_G3"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_G4"     39;
// IO_PORT "LCD_G4"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_G5"     40;
// IO_PORT "LCD_G5"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_B1"     42;
// IO_PORT "LCD_B1"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_B2"     43;
// IO_PORT "LCD_B2"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_B3"     44;
// IO_PORT "LCD_B3"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_B4"     45;
// IO_PORT "LCD_B4"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_CLK"    11; // ALSO GCLKC_6
// IO_PORT "LCD_CLK"    IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_HSYNC"  10; // ALSO CLKT_6
// IO_PORT "LCD_HSYNC"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_VSYNC"  46;
// IO_PORT "LCD_VSYNC"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  ""           13;
// IO_PORT ""           IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// following Tang Nano Pinout, top-right
// IO_LOC  "LCD_R0"     27; // ALSO GCLKT_3
// IO_PORT "LCD_R0"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_R1"     28;
// IO_PORT "LCD_R1"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_R2"     29;
// IO_PORT "LCD_R2"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_R3"     30;
// IO_PORT "LCD_R3"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_R4"     31;
// IO_PORT "LCD_R4"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_G0"     32;
// IO_PORT "LCD_G0"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_G1"     33;
// IO_PORT "LCD_G1"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  "LCD_G2"     34;
// IO_PORT "LCD_G2"     IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// IO_LOC  ""           15;
// IO_PORT ""           IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;